<nav>
  <div class="nav"><%= link_to 'Home', '/#home', :"data-scroll" => "" %></div>
  <div class="nav"><%= link_to 'About', '/#about', :"data-scroll" => "" %></div>
  <div class="nav"><%= link_to 'Portfolio', '/#portfolio', :"data-scroll" => ""%></div>
  <div class="nav"><%= link_to 'Blog', '/#' %></div>	 
  <%= yield_content :nav %>
</nav>
