<div class="project <%= align %>">
  <% link_to url, :target => "_blank" do %>
  <%= image_tag thumb_url, :class => 'thumbnail' %>
  <% end %>
  <p class="description">
    <%= description %>
  </p>
  <p>
    This site is <%= link_to 'live.', url, :target => "_blank" %>
  </p>    
  <p class="tech">
    <%= tech %>
  </p>
</div>